* {
  box-sizing: border-box; }

html {
  background: #000;
  background-size: cover;
  font-size: 10px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  text-align: center;
  width: 100%; }

#logo {
  animation: logo-entry 4s ease-in;
  width: 500px;
  margin: 0 auto;
  position: relative;
  z-index: 40; }

h1 {
  animation: text-glow 2s ease-out infinite alternate;
  font-family: 'Ubuntu', sans-serif;
  color: #00a4a2;
  font-size: 48px;
  font-size: 4.8rem;
  font-weight: bold;
  position: absolute;
  top: 50px; }
  h1:before {
    animation: before-glow 2s ease-out infinite alternate;
    border-left: 535px solid transparent;
    border-bottom: 10px solid #00a4a2;
    content: ' ';
    height: 0;
    position: absolute;
    right: -74px;
    top: -10px;
    width: 0; }
  h1:after {
    animation: after-glow 2s ease-out infinite alternate;
    border-left: 100px solid transparent;
    border-top: 16px solid #00a4a2;
    content: ' ';
    height: 0;
    position: absolute;
    right: -85px;
    top: 24px;
    transform: rotate(-47deg);
    width: 0; }

 .titulo {
  animation: before-glow 2s ease-out infinite alternate;
  border-left: 535px solid transparent;
  border-bottom: 10px solid #00a4a2;
  content: ' ';
  height: 0;
  position: center;
  right: 275px;
  top: -10px;
  width: 0; 
 }

#fade-box {
  animation: input-entry 3s ease-in;
  z-index: 4;
  
   }

.stark-login form {
  animation: form-entry 3s ease-in-out;
  
  border: 6px solid #00a4a2;
  box-shadow: 0 0 15px #00fffd;
  border-radius: 5px;
  display: inline-block;
  height: 310px;
  margin: 200px auto 0;
  position: relative;
  z-index: 4;
  width: 510px;
  transition: 1s all; }
  
.hexagons {
  animation: logo-entry 4s ease-in;
  color: #000;
  font-size: 52px;
  font-size: 5.1rem;
  letter-spacing: -0.2em;
  line-height: 0.7;
  position: absolute;
  text-shadow: 0 0 6px #00fffc;
  top: 310px;
  width: 100%;
  transform: perspective(600px) rotateX(60deg) scale(1.4);
  z-index: -3; }

@keyframes logo-entry {
  0% {
    opacity: 0; }

  80% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes circle-entry {
  0% {
    opacity: 0; }

  20% {
    opacity: 0; }

  100% {
    opacity: 0.4; } }
@keyframes input-entry {
  0% {
    opacity: 0; }

  90% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes form-entry {
  0% {
    height: 0;
    width: 0;
    opacity: 0;
    padding: 0; }

  20% {
    height: 0;
    border: 1px solid #00a4a2;
    width: 0;
    opacity: 0;
    padding: 0; }

  40% {
    width: 0;
    height: 220px;
    border: 6px solid #00a4a2;
    opacity: 1;
    padding: 0; }

  100% {
    height: 220px;
    width: 500px; } }
@keyframes box-glow {
  0% {
    border-color: #00b8b6;
    box-shadow: 0 0 5px rgba(0, 255, 253, 0.2), inset 0 0 5px rgba(0, 255, 253, 0.1), 0 2px 0 black; }

  100% {
    border-color: #00fffc;
    box-shadow: 0 0 20px rgba(0, 255, 253, 0.6), inset 0 0 10px rgba(0, 255, 253, 0.4), 0 2px 0 black; } }
@keyframes text-glow {
  0% {
    color: #00a4a2;
    text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000; }

  100% {
    color: #00fffc;
    text-shadow: 0 0 20px rgba(0, 255, 253, 0.6), 0 0 10px rgba(0, 255, 253, 0.4), 0 2px 0 black; } }
@keyframes before-glow {
  0% {
    border-bottom: 10px solid #00a4a2; }

  100% {
    border-bottom: 10px solid #00fffc; } }
@keyframes after-glow {
  0% {
    border-top: 16px solid #00a4a2; }

  100% {
    border-top: 16px solid #00fffc; } }
@keyframes circle1 {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }